# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle neutrino'
      'command': 'neutrino:toggle'
    },
    {
      'label': 'View Neutrino',
      'command': 'neutrino:view'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'neutrino'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'neutrino:toggle'
        },
        {
          'label': 'View Neutrino',
          'command': 'neutrino:view'
        }
      ]
    ]
  }
]
